@using Store.UI.Controllers
@{
    ViewData["Title"] = "Home Page";
}

<h2>Введите назване книги</h2>
<form class="col-6" action="/search" method="get" >
    <input name="query" class="form-control d-inline w-50"/>
    <button class="btn btn-success mb-2" type="submit">Search</button>
</form>
