@model Store.Web.App.OrderModel
@{
    ViewData["Title"] = "Подтверждение телефона";
}
<h1>Подтверждение мобильного телефона</h1>
<div class="w-50">
    <form asp-action="Confirm">
        <div class="form-group">
            <input type="hidden" name="phoneNumber" value="@Model.PhoneNumber"/>
            <label for="code">Введите код подтверждения</label>
            <input type="text" id="code" class="form-control" name="code" value="1111" placeholder="1111"/>
            @if (Model.Errors.ContainsKey("code"))
            {
                <small class="text-danger">@Model.Errors["code"]</small>
            }
        </div>
        <button class="btn btn-success" type="submit">Отправить</button>
    </form>
    <form asp-action="SendConfirmationCode">
        <div class="form-group">
            <label for="phoneNumber">Введите номер телефона для повторной отправки</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" value="@Model.PhoneNumber">
        </div>
        <button class="btn btn-success" type="submit">Отправить код повторно</button>
    </form>
</div>