@model IReadOnlyDictionary<string, string>
@{
    ViewData["Title"] = "Способ доставки";
}

<h1>Способ доставки</h1>
<form method="post" action="@Url.Action("StartDelivery")">
    <div class="form-group">
        <label for="">Выберите способ доставки:</label>
        <select name="serviceName" class="form-control">
            @foreach (var method in Model)
            {
                <option value="@method.Key">@method.Value</option>
            }
        </select>
    </div>
    <button class="btn btn-success" type="submit">Далее</button>
</form>